body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    font-family: "Microsoft YaHei";
}

#head {
    background-color: black;
    width: 100%;
    height: 100px;
}

#head a {
    color:white;
    text-decoration: none;
}

#head a:visited{
    color: darkgray;
}

#head img{
    height: 50px;
    width: auto;
    margin: 25px 0 0 25px;
}

#list {
    position: relative;
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0 20px 0;
}

#list li {
    display: inline-block;
    margin-left: 15px;
    font-size: 15px;
}

article {
    width: 95%;
    background-color: white;
    margin: 20px auto;
    padding:15px;
    border: 1px solid darkgray;
    box-shadow:2px 2px dimgray;
    line-height: 30px;
}

h3 {
    color: dimgray;
    margin: 10px 0;
}

.author {
    color: grey;
    width: 200px;
    height: 20px;
    font-size: 14px;
    padding: 3px 0;
}

article p {
    text-indent: 2em;
}

article ul li {
    list-style-type: none;
    font-weight: 600;
}

.photo {
    border: thin solid darkgray;
    width: 150px;
    height: 150px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.photo figcaption {
    margin-top: 10%;
    font-weight: 600;
}

.photo img {
    max-width: 80%;
    margin-top: 10%;
}

article ol {
    margin: 1em;
    font-weight: bold;
}

article table {
    width: 100%;
    border-color: gainsboro;
}

article table thead tr th {
    margin: 0;
    padding:0 5px;
    color: white;
    background-color: black;
    font-weight: 700;
    letter-spacing: 3px;
    border-style: solid;
}

article table tbody tr td {
    margin: 0;
    padding: 0 5px;
    font-weight: 600;
    border-style: solid;
}

article table tbody tr.result {
    background-color:gainsboro;
    font-weight: bold;

}

aside {
    width: 94%;
    background-color: white;
    margin: 20px 100px 20px 20px;
    padding:15px;
    border: 1px solid darkgray;
    box-shadow:2px 2px dimgray;
    line-height: 30px;
}

aside h2 {
    border-left: 2px solid gainsboro;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}

aside table {
    width: 100%;
    height: 100%;
    font-size: 13px;
    border-style: none;
}

.tips {
    color: darkgray;
    padding: 0 0 10px 0;
}

aside table tbody tr td:first-child {
    width: 30%;
    text-align: right;
    font-weight: 600;
    padding: 0 15px;
    vertical-align: top;
}

aside table input {
    height: 20px;
    border: 1px solid darkgray;
    vertical-align: top;
}

aside table textarea {
    width: 90%;
    height: 100px;
    outline: none;
}

aside #submit {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    font-size: 17px;
    background-color: blue;

}

footer{
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}